.countries{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
}

.visited-flag img{
    width: 50px;
    margin: 5px;
}
.visitedCountries{
    width: 50px;
    margin: 5px;
    display: flex;
    gap: 20px;

}